CDC_BROKER_URL=tcp://message-broker:61616
CDC_BROKER_USER=
CDC_BROKER_PASSWORD=
CDC_TECHNO_USER=
CDC_TECHNO_PASSWORD=
CDC_TECHNO_ENCRYPT=true
CDC_TECHNO_TRUST_CERTIFICATE=false
CDC_DOCKER_NETWORK=iqhr
# TEST only, include before the first activation:
# CDC_TECHNO_TABLES=dbo.HR_EmployeeContractInfo,dbo.CodexCdcProbe,dbo.CodexCdcProbeOther
